.social-login
    button.social-github
        span
            i.fab.fa-github
        |  Login with Github
    button.social-facebook
        span
            i.fab.fa-facebook
        |  Login with Facebook