.social-login
    button.social-github
        a(href=routes.github)
            span
                i.fab.fa-github
            |  Login with Github
    button.social-twitch
        a(href=routes.twitch)
            span
                i.fab.fa-twitch
            |  Login with Twitch